{% extends 'base.html.twig' %}

{% block body %}

    <a href="/changelog" class="button is-normal" style="float: right;margin: 15px">view current changelog</a>

    <section class="section">

        <div class="container">

            <h1 class="title has-text-centered">JIRHUB STATUS</h1>

            <section>
                <div id="environments" class="tile is-ancestor">
                    {% for env in review_environments %}
                        {% set free = env.jirHubTask is null %}

                        <div class="tile is-parent">
                            <div class="tile is-child env {{ env.name }} {% if free %} free {% endif %}">
                                {% if free %}
                                    <span class="is-center">DISPONIBLE</span>
                                    {% if env.owner is not null %}
                                        <span class="is-center env-owner">{{ env.owner }}</span>
                                    {% endif %}
                                    <button class="button" disabled>Déployer</button>
                                   
                                {% else %}

                                    <div class="quick-links dropdown is-right is-hoverable">
                                        <div class="dropdown-trigger">
                                            <span class="icon is-size-5" aria-haspopup="true" aria-controls="dropdown-menu">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="http://tiime-{{ env.name }}.s3-website-eu-west-1.amazonaws.com" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Tiime Apps
                                                </a>
                                                <a href="http://tiime-expert-{{ env.name }}.s3-website-eu-west-1.amazonaws.com" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Tiime Expert
                                                </a>
                                                <a href="http://tiime-pro-{{ env.name }}.s3-website-eu-west-1.amazonaws.com" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Tiime Pulse
                                                </a>
                                                <a href="http://tiime-data-{{ env.name }}.s3-website-eu-west-1.amazonaws.com" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Tiime Data
                                                </a>
                                                <a href="http://tiime-care-{{ env.name }}.s3-website-eu-west-1.amazonaws.com" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Tiime Care
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="https://dashboard.heroku.com/apps/chronos-api-review-{{ env.name }}" class="dropdown-item" target="_blank">
                                                    Open the {{ env.name }} Heroku Dashboard
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    {% if env.jirHubTask.getJiraIssue is not null %}
                                        <span class="ta-number">{{ env.jirHubTask.getJiraIssue.getKey|upper }}</span>
                                    {% else %}
                                        <span class="ta-number">Unknown Jira Ticket</span>
                                    {% endif %}
                                    <span class="ta-title">{{ env.pullRequestTitle }}</span>

                                    <div class="links">
                                        {% if env.jirHubTask.getJiraIssue is not null %}
                                            <span class="jira">
                                                <a target="_blank" href="{{ env.jirHubTask.getJiraIssue.getUri }}"><i class="fab fa-jira"></i></a>
                                            </span>
                                        {% endif %}
                                        <span class="github">
                                            <a target="_blank" href="{{ env.jirHubTask.githubPullRequest.getUrl }}"><i class="fab fa-github"></i></a>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2 class="is-size-4 is-bold">Pull requests à déployer en validation :</h2>

                <ul>
                    {% for pullRequest in pull_requests_to_deploy %}
                        <li class="pull_requests">
                            {% if 'Standby' in pullRequest.labels %}
                                <span class="tag is-warning">Standby</span>
                            {% endif %}
                            {% if 'WAIT' in pullRequest.labels %}
                                <span class="tag is-danger">WAIT</span>
                            {% endif %}

                            {{ pullRequest.getTitle }}
                            <a target="_blank" href="{{ pullRequest.getUrl }}"> <i class="fab fa-github"></i></a>

                            {% if pullRequest.getJiraIssue is not null %}
                                <a target="_blank" href="{{ pullRequest.getJiraIssue.getUri }}"> <i class="fab fa-jira"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section>
                <h2 class="is-size-4 is-bold">Pull requests à merger :</h2>

                <ul>
                    {% for pullRequest in pull_requests_to_merge_on_dev %}
                        <li class="pull_requests">
                            {% if 'Standby' in pullRequest.labels %}
                                <span class="tag is-warning">Standby</span>
                            {% endif %}
                            {% if 'WAIT' in pullRequest.labels %}
                                <span class="tag is-danger">WAIT</span>
                            {% endif %}

                            {{ pullRequest.getTitle }}
                            <a target="_blank" href="{{ pullRequest.getUrl }}"> <i class="fab fa-github"></i></a>

                            {% if pullRequest.getJiraIssue is not null %}
                                <a target="_blank" href="{{ pullRequest.getJiraIssue.getUri }}"> <i class="fab fa-jira"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>

        </div>
    </section>
{% endblock body %}
