{% extends 'base.html.twig' %}

{% block body %}


	<section class="section">
		<div style="position:absolute;top:15px;right:15px">
			<a href="/changelog" class="button is-normal" style="display:block">view current changelog (raw)</a>
		</div>

		<div class="container is-fluid">

			<h1 class="title has-text-centered">JIRHUB STATUS</h1>

			<section>
				<div id="environments" class="tile is-ancestor">
					{% for env in review_environments %}
						{% set free = env.jirHubTask is null %}

						<div class="tile is-parent">
							<div class="tile is-child box env {{ env.name }} {% if free %} free {% endif %}">

								{% if free %}
									<div>
										<p class="subtitle is-size-4">Disponible</p>
										{% if env.owner is not null %}
											<p class="subtitle is-size-6">{{ env.owner }}</p>
										{% endif %}
									</div>
								{% else %}

									<div class="level">
										<div class="level-left">
											<div class="level-item">
												<div>
													{% if env.jirHubTask.getJiraIssue is not null %}
														<p class="subtitle is-size-4">{{ env.jirHubTask.getJiraIssue.getKey|upper }}</p>
													{% else %}
														<p class="subtitle is-size-4">Unknown Jira Ticket</p>
													{% endif %}
													<p class="is-size-6">{{ env.owner }}</p>
												</div>
											</div>
										</div>

										<div class="level-right">
											<div class="level-item">
												<div class="quick-links dropdown is-hoverable">
													<div class="dropdown-trigger">
											<span class="icon is-size-5" aria-haspopup="true" aria-controls="dropdown-menu">
												<i class="fas fa-ellipsis-h"></i>
											</span>
													</div>
													<div class="dropdown-menu" id="dropdown-menu" role="menu">
														<div class="dropdown-content">
															<a href="https://apps.chronos-review-{{ env.name }}.preprod.tiime.tech" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																Tiime Apps
															</a>
															<a href="https://expert.chronos-review-{{ env.name }}.preprod.tiime.tech" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																Tiime Expert
															</a>
															<a href="https://pro.chronos-review-{{ env.name }}.preprod.tiime.tech" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																Tiime Pulse
															</a>
															<a href="https://data.chronos-review-{{ env.name }}.preprod.tiime.tech" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																Tiime Data
															</a>
															<a href="https://care.chronos-review-{{ env.name }}.preprod.tiime.tech" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																Tiime Care
															</a>
															<div class="dropdown-divider"></div>
															<a href="https://argo.preprod.tiime.tech/applications/argocd/chronos-review-{{ env.name }}" class="dropdown-item" target="_blank">
																Open the
																{{ env.name }}
																ArgoCD Dashboard
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="links">
										{% if env.jirHubTask.getJiraIssue is not null %}
											<span class="jira is-right">
												<a target="_blank" href="{{ env.jirHubTask.getJiraIssue.getUri }}">
													<i class="fab fa-jira"></i>
												</a>
											</span>
										{% endif %}
										<span class="github  is-right">
											<a target="_blank" href="{{ env.jirHubTask.githubPullRequest.getUrl }}">
												<i class="fab fa-github"></i>
											</a>
										</span>
									</div>



									<p class="is-center has-text-centered ">{{ env.pullRequestTitle }}</p>

								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>

		<div class="container">
			<div class="columns">
				<div class="column">
					<section class="box">
						<h2 class="is-size-4 is-bold">Pull requests à valider</h2>

						<ul class="pull_requests_list">
							{% for pullRequest in pull_requests_to_deploy %}
								<li class="pull_requests">
									{% if 'Standby' in pullRequest.labels %}
										<span class="tag is-warning">Standby</span>
									{% endif %}
									{% if 'WAIT' in pullRequest.labels %}
										<span class="tag is-danger">WAIT</span>
									{% endif %}

									{{ pullRequest.getTitle }}
									<a target="_blank" href="{{ pullRequest.getUrl }}">
										<i class="fab fa-github"></i>
									</a>

									{% if pullRequest.getJiraIssue is not null %}
										<a target="_blank" href="{{ pullRequest.getJiraIssue.getUri }}">
											<i class="fab fa-jira"></i>
										</a>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</section>
				</div>
				<div class="column">
					<section class="box ">
						<h2 class="is-size-4 is-bold">Pull requests à merger</h2>

						<ul class="pull_requests_list">
							{% for pullRequest in pull_requests_to_merge_on_dev %}
								<li class="pull_requests">
									{% if 'Standby' in pullRequest.labels %}
										<span class="tag is-warning">Standby</span>
									{% endif %}
									{% if 'WAIT' in pullRequest.labels %}
										<span class="tag is-danger">WAIT</span>
									{% endif %}

									{{ pullRequest.getTitle }}
									<a target="_blank" href="{{ pullRequest.getUrl }}">
										<i class="fab fa-github"></i>
									</a>

									{% if pullRequest.getJiraIssue is not null %}
										<a target="_blank" href="{{ pullRequest.getJiraIssue.getUri }}">
											<i class="fab fa-jira"></i>
										</a>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</section>
				</div>

				<div class="column">
					<section class="box">
						<h2 class="is-size-4 is-bold">Changelog <em>(prochaine MEP)</em></h2>

						<ul class="pull_requests_list">
							{% for i in 0..(num-1) %}
								{% if type[i]=='string' and not (messageLinks[i] starts with '---') %}
									<li class="pull_requests has-text-weight-bold">{{messageLinks[i]}}</li>
								{% endif %}
								{% if type[i]=='array'  %}
									<li class="pull_requests">
										<span class="ta-title">{{messageLinks[i]['message']}}</span>
										<span class="github">
											<a target="_blank" href="{{ messageLinks[i]['html_url'] }}">
												<i class="fab fa-github"></i>
											</a>
										</span>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>

		</div>

	</section>
{% endblock body %}
